* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@mixin getIn{
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-in-out;
}
body {
position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(top, #d4e4ef 0%, #86aecc 100%); 
 }

.container{
 position: absolute;
 top:50%;
 left:50%;
 font-family: 'Press Start 2P',  cursive;
 transform: translate(-50%, -50%);    
}

section.score {
position: relative;
width: 200px;
height: 100px;

> #points{
 position: absolute;
 top:35px;
 right: 20px;
 color: #ffa200;
}
}

#board {
 width: 640px;
 height: 640px;
 margin: 1em auto;
}

#board  > div {    
position: relative;
border: 1px solid #2c2c2c;
float: left;
width: 64px;
height: 64px;
}

.diamond {
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
height: 70%;
width: 70%;
background-image: url('../img/diamond-1.png');
background-repeat: no-repeat;
background-size: contain;
 @include getIn;
}

section#over {
 position: fixed;
 width: 100%;
 height: 100%;
 left: 0;
 top: 0;
 z-index: 1;
 padding: 10px;
}

section#over pre {
 display: inline-block;
 width: 100%;
 text-align: center;
 font-size: 10px;
 font-weight: bolder;
 color: #810000;
}

.invisible {
 display: none;
}

@for $i from 1 through 100 {
 .box-#{$i}{
   background: hsl(50 + ($i * 2) , 40%, 60%);
 }
}

.buttons{
 display: flex;
 justify-content: space-between;
 height: 60px;
}

.easyBtn,
.mediumBtn,
.hardBtn{
 width: 170px;
 background-image: url('../img/Easy.png');
 background-repeat: no-repeat;
 background-size: contain;
 filter: grayscale(55%) ;
}
.mediumBtn{
 background-image: url('../img/Medium.png');
}
.hardBtn{
 background-image: url('../img//Hard.png');    
}
.easyBtn:hover,
.mediumBtn:hover,
.hardBtn:hover{
 transform: scale(1.1);
 cursor: pointer;
 filter: grayscale(0) ;
}

.score{
 background-image: url('../img/Points.png');
 background-repeat: no-repeat;
 background-size: contain;
}
.active{
filter: grayscale(0);
}

@keyframes fadeIn {
  0%{
  opacity: 0;
  transform:  translate(-50%, -50%) scale(0);
  }
  25%{
    transform:  translate(-50%, -50%) scale(1.2);
  }
  50%{
    opacity: 1;
    transform:  translate(-50%, -50%) scale(0.8);
  }
  100%{
  transform:  translate(-50%, -50%) scale(1);
  }
}
.girl {
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50% ,-50%);
	width: 40px;
	height:90px;
  background-image: url(../img/person.png);
  background-repeat: no-repeat;
  //  border: 1px solid red;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(5);
  animation-fill-mode: both;
}
.right{
  animation-name: walk-right;
}
.left{
  animation-name: walk-left;
}

.down{
  animation-name: walk-down;
}

.up{
  animation-name: walk-up;
}

@keyframes walk-right {
  0% { 
      background-position:-134px -213px;
  }
  100% { 
      background-position:  -634px -212px;

  }
}
@keyframes walk-left {
  0% { 
    background-position:-130px -312px;
  }
  100% { 
    background-position:  -629px -312px;
    
  }
}
@keyframes walk-up {
  0% { 
      background-position:-135px -110px;
  }
  100% { 
      background-position:  -635px -110px;

  }
}
@keyframes walk-down {
  0% { 
      background-position:-133px -8px;
  }
  100% { 
      background-position: -633px -8px;

  }
}
